.container {
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

input[type="file"] {
    color: transparent;
    width: 15%;
}